<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <style th:inline="css">
        * {
            font-family: 'Open Sans', sans-serif;
        }

        body {
            background-color: /*[(${bgColor})]*/ white;
            text-align: center;
            padding: 50px;
        }

        strong {
            font-size: 1.5em;
        }

    </style>
</head>
<body>
    <img src="/images/logo.svg" />
    <h1>Olá Wareliner!</h1> <p>O nome desse servidor é <strong th:text="${hostname}"/></p>
</body>
</html>